.firstDiv {
    width: 100%;

    position: fixed;

}
.dropdownbox {

    position: relative;

    width: 10%;
    margin-top:0%;
    left: 0%;
    z-index: 2;
}



.ramme1{

    text-align: center;
    width: 100%;
    border: 5px solid steelblue;
    margin: 0%;

}


.ramme{

    position: fixed;
    width: 850px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nypadding{

    padding-top: 20px;


}

.prea {
    padding-top: 1cm;
}